.verticalNav {
  border-right: 1px solid #B0B6BD;
  background-color: #F5F5F5;
  min-height: 100vh!important;
}

.verticalNav a {
  cursor: pointer;
  color: #000;
  border-bottom: 1px solid #B0B6BD;
  width: 100%;
}
.verticalNav a:hover {
  background-color: rgba(0,0,0,0.2);
}

.verticalNav .fixed-left {
  position: fixed;
  left: 0;
  padding: 0!important;
}

.hidden{
  display: none!important;
}
.navbar-brand {
  margin-right: 6.5rem;
}

.x {
  color: #FFE521!important;
}